<div id="one" class="hero one">
  <div class="content">
  hero one works!
  </div>
</div>
<div id="two" class="hero two">
  <div class="content">
  hero two works!
  </div>
</div>
<div id="three" class="hero three">
  <div class="content">
  hero one works!
  </div>
</div>
<div id="four" class="hero four">
  <div class="content">
  hero two works!
  </div>
</div>
<div id="five" class="hero five">
  <div class="content">
  hero one works!
  </div>
</div>
<div id="six" class="hero six">
  <div class="content">
  hero two works!
  </div>
</div>